/* CSS for skins.html */

body{
  margin: 0px;
  background-color:rgb(238, 55, 55);
  font-family: Roboto, Arial;
}

.header-section{
  text-align: center;
}

.body-header{
  margin-left: 5px;
  display: block;
}

/* Main skins */

.main-skin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.mules-skin{
  margin-left: 5px;
}

.skin{
  display: inline-block;
  width: 130px;
  vertical-align: top;
  margin: 5px;
}

.skin-title{
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: bold;
}

.download-button{
  color: white;
  background-color: blue;
  border-radius: 50px;
  border: none;
  padding: 15px;
  text-decoration: none;
  font-family: Roboto, Arial;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}

.download-button:hover{
  background-color: rgb(0, 0, 230);
}

.download-button:active{
  background-color: rgb(1, 1, 128);
}


