/* Affects all(I.e body) */

body{
  font-family: Roboto, Arial;
  background-color:rgb(238, 55, 55);
  margin: 0px;
  text-align: center;
}

/* Links */

a{
  color: #b4afaf;
}

/* How to install */

.how-install-link{
  text-decoration: none;
}

.how-install-link .how-to-install-text{
  margin-bottom: 5px;
  color: black;
}

/* Datapacks */

/*.datapack-list{
  
}*/

.datapack-backround{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  margin-left: 25px;
}

.datapack-info-container{
  margin-left: 5px;
}

.download-button{
  background-color: yellow;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  border-width: 0px;
}

.download-button:hover{
  background-color: rgb(228, 228, 0);
  cursor: pointer;
}

.download-button:active{
  background-color: rgb(199, 199, 0);
}

.datapack-version{
  color: gray;
  display: block;
}