/* CSS for website dropdown menu */

.dropdown{
  position: absolute;
  z-index: 100;
  top: 0px;
  text-align: left;
}

/* Icon and close */

.dropdown-icon{
  cursor: pointer;
  border-radius: 100px;
  margin-left: 5px;
  position: fixed;
}

.dropdown-close{
  cursor: pointer;
  position: absolute;
  right: -30px;
  font-size: 30px;
  border-radius: 100px;
  padding-left: 3px;
  padding-right: 3px;
}

.dropdown-icon:hover,
.dropdown-close:hover{
  background-color: gray;
  opacity: 0.9;
}

/* Menu */

.dropdown-menu-main{
  visibility: hidden;
  min-width: 170px;
  position: fixed;
  height: 100%;
  width: 25%;
  background-color: blue;
  padding-top: 5px;
  z-index: 100;
}

.dropdown-menu-main a {
  text-decoration: none;
}

.dropdown-menu-img{
  margin-right: 5px;
  vertical-align: middle;
}

.dropdown-menu-item{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.dropdown-menu-item:hover{
  background-color: #2e2e7a;
}

/* Background */

.dropdown-background{
  background-color: gray;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  visibility: hidden;
  opacity: 0.8;
}