/* CSS or the projects page of Mules Gamings webstie */

/* General */

body{
  margin: 0px;
  background-color: rgba(238, 55, 55);
  text-align: center;
  font-family: Roboto, Arial;
}

main{
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;

}

@media screen and (max-width: 500px){
  main{
  grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1900px){
  main{
  grid-template-columns: repeat(6, 1fr);
  }
}

.project{
  width: 250px;
  height: 250px;
}

.project-link{
  text-decoration: none;
  color: white;
}

/**/

.project-img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.text{
  background-color: rgba(162,149,149,0.8);
  overflow: hidden;
  height: 35%;
  /**/
  position: relative;
  top: -90px
}

.project:hover .text{
  background-color: rgb(69, 62, 62);
  height: 50%;
  top: -129px
}

.project-title{
  display: block;
  color: white;
  font-size: 170%;
}